apiVersion: apps/v1
kind: Deployment
metadata:
  name: goserver
  labels:
    app: goserver
spec:
  selector:
    matchLabels:
      app: goserver
  replicas: 1
  template:
    metadata:
      labels:
        app: "goserver"
    spec:
      containers:
      - name: goserver
        image: "atilarampazo/hello-go:v5.5"
        resources:
          # Recurso minimo para a aplicação executar
          requests:
            cpu: "0.05"
            memory: "20Mi"
          # Maximo de recurso que o pod pode usar 
          limits:
            cpu: "0.05" #Tomar cuidado para o total de cpu de todos os pods não ultrapassem o total do vcpu
            memory: "25Mi"
        # Esse cara verifica ate estar pronto para liberar o readiness e o liveness
        startupProbe:
          httpGet:
            path: /healthz
            port: 3333  # Porta do Container
          periodSeconds: 3 # Verifica a cada 5 segundos
          failureThreshold: 10 # Numero de falhas para nao enviar requisicao

        # Cuidado com o tempo quando trabalha com esses 2 caras
        readinessProbe:
          httpGet:
            path: /healthz
            port: 3333  # Porta do Container
          periodSeconds: 3 # Verifica a cada 5 segundos
          failureThreshold: 1 # Numero de falhas para nao enviar requisicao
          #initialDelaySeconds: 10

        livenessProbe:
          httpGet:
            path: /healthz
            port: 3333  # Porta do Container
          periodSeconds: 5 # Verifica a cada 5 segundos
          failureThreshold: 1 # Numero de falhas para reiniciar o pod
          timeoutSeconds: 1 # Tempo que deve aguardar resposta se passar disso conta como falha
          successThreshold: 1 # Total de consultas com sucesso para o kubernets saber que está tudo ok
          #initialDelaySeconds: 20
        envFrom:
          - configMapRef:
              name: goserver-env
          - secretRef:
              name: goserver-secret
        
        # Montando o volume declarado
        volumeMounts:
          - mountPath: "/go/myfamily"
            name: config
            readOnly: true # Ninguem consegue modificar

      # Declaração do Volume         
      volumes:
        - name: config
          configMap:
            name: configmap-family
            items:
            - key: members
              path: "family.txt"
        # env:
        #   - name: NAME
        #     valueFrom:
        #       configMapKeyRef:
        #         name: goserver-env
        #         key: NAME
        #   - name: AGE
        #     valueFrom:
        #       configMapKeyRef:
        #         name: goserver-env
        #         key: AGE